@tailwind base;
@tailwind components;
@tailwind utilities;
.lunbo::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.red-image {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='colorize'><feColorMatrix type='matrix' values='1 0 0 0 0.698 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/></filter></svg>#colorize");
}
.over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.adm-tabs-tab-line {
  background-color: red;
}
.active-line-color{
  color: red;
}
.adm-tab-bar-item-active {
 color: red !important;
}
.adm-tabs-tab {
  color: cadetblue !important;
}
.post {
  position: sticky;
  top: 13vw;
  z-index: 998;
  background-color: white;
}
.transition {
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}

.opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.opacity-1 {
  opacity: 1;
  visibility: visible;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.animate-fadeIn {
  animation: fadeIn 1s;
}

.animate-fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


